.container {
	position: fixed;
	top: 50%;
	translate: 0 -50%;

	// padding: 56px 44px;
	// clip-path: ellipse(100px 80px);

	padding: 112px 88px;
	clip-path: ellipse(140px 100px);

	// @media (prefers-color-scheme: light) {
	// 	background-color: $black;
	// 	color: $white;
	// 	svg path {
	// 		fill: $white;
	// 	}
	// }
	// @media (prefers-color-scheme: dark) {
	background-color: $white;
	color: $black;
	svg path {
		fill: $black;
	}
	// }

	svg {
		width: 180px;
	}
}
